<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Machine.Viewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Machine.Viewer.Settings>
            <setting name="AutoStepOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicTransition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimespanFactor" serializeAs="String">
                <value>Factor1</value>
            </setting>
            <setting name="MaterialRemove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumSampleTime" serializeAs="String">
                <value>Sample_min</value>
            </setting>
            <setting name="PanelOuterMaterial" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="PanelInnerMaterial" serializeAs="String">
                <value>Turquoise</value>
            </setting>
        </Machine.Viewer.Settings>
    </userSettings>
</configuration>